body {
    background-image: url('pictures/bg.jpg');
    background-size: cover;
    /* Cover entire screen */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Do not repeat the background image */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    margin: 80px;
    line-height: 2;
}
h1{
    color:rgba(255, 166, 0, 0.937)
}
h2{
    color:salmon;
}


#newEventForm,
#events,
#summary,
#eventSection {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
}

* {
    font-family: "Times New Roman", Times, serif;
}

li {
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid black;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}

button {
    background-color: white;
    /* Green */
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #bf00ff;
}

.delete:hover {
    background-color: #ff0000;
}